shapely
scikit-image==0.17.2
imgaug==0.4.0
pyclipper
lmdb
tqdm
numpy
visualdl
python-Levenshtein
opencv-contrib-python==4.2.0.32
paddlepaddle==2.0.0
pandas==1.1.5
Flask==1.1.2
flask-restplus==0.13.0
pymysql==1.0.2